
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlArmazenarBeneficiario = '@Url.Action("Armazenar", "Beneficiario", new { area = "" })';
        var urlCarregarIdCliente = '@Url.Action("CarregarIdCliente", "Beneficiario", new { area = "" })';
        var urlRemoverBeneficiario = '@Url.Action("Remover", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/listBeneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")